<launch>
	
	<arg name="bd_list" default="0TFDFG700603171"/>
	<node name="livox_drone_publisher" pkg="livox_drone" 
	      type="livox_drone_node" required="true"
	      output="screen" args="$(arg bd_list)"/>

	<!-- <node name="livox_drone_publisher" pkg="livox_drone" 
	      type="livox_drone_node"
	      output="screen" args="$(arg bd_list)"/> -->


	<!-- <node name="rviz" pkg="rviz" type="rviz" respawn="true"
	      args="-d $(find livox_drone)/config/display_lidar_points.rviz"/> -->
</launch>
